/* 
    GENERAL
*/
.container-fluid {
    border: 1px dashed black;
}

.box {
    border: 1px dashed black;
}

.my-badge {
    font-size: 0.68em;
    border-radius: 16px;
}

.my-text-bg-dark-blue {
    background-color: #165BBA;
}

p, span {
    font-size: 0.9em;
}

/* 
    HEADER
*/
header {
    background-color: #F8F9FA;
}

header .container-fluid {
    height: 60px;
}

header .container-fluid .row .col .box .w-100 .input-group-text {
    background-color: #E9ECEF;
}


header .container-fluid .row .col .box .w-100 input {
    background-color: #E9ECEF;
    border: 0;
}

#bell {
    color: #FF8F00;
}

/* 
    MAIN
*/
main .container-fluid {
    height: calc(100vh - 50px);
}

.prossime-classi, .faq, .list-todo, .graph-todo {
    border: 1px dashed black;
}

#quotation-marks {
    font-size: 0.8em;
}

.plus-container {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    border-radius: 4px;
}