/* 
    GENERAL
*/
.container-fluid {
    border: 1px dashed black;
}

.box {
    border: 1px dashed black;
}

/* 
    HEADER
*/
header .container-fluid {
    height: 60px;
}

header .container-fluid .row .col .box .w-100 .input-group-text {
    background-color: #E9ECEF;
}


header .container-fluid .row .col .box .w-100 input {
    background-color: #E9ECEF;
    border: 0;
}

/* 
    MAIN
*/
main .container-fluid {
    height: calc(100vh - 50px);
}

.prossime-classi, .faq, .list-todo, .graph-todo {
    border: 1px dashed black;
}